<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="anApp">
    <head>
        <meta charset="utf-8">
        <title>桌游——登陆页面</title>
        <script src="components/angular/angular.js"></script>
        <script src="js/game.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
 <body>
    <div ng-controller="myCtrl" border="1px">
        <center>
        	<form>
				<table>
					<tr>
						<td>用户名:</td>
						<td>
							<input type="text" ng-model="name" required>
						</td>
					</tr>
					<tr>
						<td>密码:</td>
						<td>
							<input type="password" placeholder="密码不能为空" ng-model="passwd" required>
						</td>
					</tr>
					<tr>
						<td>
							<button ng-click="sure()">确定</button>
						</td>
						<td>
							<button ng-click="registered()">注册</button>
						</td>
					</tr>
				</table>
			</form>
        </center>
    </div>
  </body>
</html>
